* {
  box-sizing: border-box;
}

body {
  background-color: yellow;
}

.item {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  padding-top: 75px;
  background: orange;
  text-align: center;
  color: black;
  font-size: 3em;
  border: 3px solid #000;
}
